<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://your-btcpay-server-url.com/modal/btcpay.js"></script> -->

    <title>payment</title>
</head>
<body>
    <h1>Pay with Bitcoin</h1>
    <p>Send <strong>{{ bitcoin_amount }}</strong> BTC to the following address:</p>
    <p><code>{{ address }}</code></p>
    <p>Please send the exact amount to avoid delays in processing your payment.</p>
</body>
</html>