<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
        {% load google_analytics %}

    {% if site_config.google_analytics_id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site_config.google_analytics_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { { dataLayer.push(arguments); } }
        gtag('js', new Date());
        gtag('config', '{{ site_config.google_analytics_id }}');
    </script>
    {% endif %}
    <!-- Google tag (gtag.js) -->


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="onion-location" content="http://briansccxf4qknms.onion">
    <meta name="n" content="1">
    <title>cart</title>
    <link href="{% static 'public/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'public/css/justified-nav.css' %}" rel="stylesheet">
    <link href="{% static 'public/css/elem.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'public/images/favicon.ico' %}">
    <link href="{% static 'public/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'public/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
    <link href="{% static 'public/css/jquery.bootstrap-touchspin.css' %}" rel="stylesheet">
    <link href="{% static 'public/css/slider.css' %}" rel="stylesheet">
    <script src="{% static 'public/js/jquery.min.js' %}"></script>
    <script src="{% static 'public/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'public/js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'public/js/date.js' %}"></script>
    <script src="{% static 'public/js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'public/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'public/js/passgen.min.js' %}"></script>
    <script src="{% static 'public/js/bootstrap-toggle.min.js' %}"></script>
    <script src="{% static 'public/js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'public/js/bootstrap-slider.js' %}"></script>

    <style>
        .nav-right li a {
            padding-top: 6px !important;
            padding-bottom: 6px !important;
        }
    </style>
    <style type="text/css">
        @font-face {
            font-family: Roboto;
            src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf");
        }
    </style>
</head>

<body>
    <div class="container" style="width:90%;max-width:1700px;">
        <div class="masthead" style="">
            <div role="navigation"
                style="float: right;margin-top: 0px; white-space: nowrap; width: min-content;width: -moz-min-content;width: -webkit-min-content;display: -ms-grid;-ms-grid-columns: min-content;">
                <ul class="nav nav-justified nav-right">
                    <li>
                        <a href="/lottery/" style="color:green;"> <b>Lottery</b> <span class="glyphicon glyphicon-usd"
                                aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="openMyGift" data-toggle="modal" data-target="#myModalDetailsMG"><span
                                    class="glyphicon glyphicon-gift" aria-hidden="true"
                                    style="color: orangered;"></span> My Gift </span></a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"
                                aria-hidden="true"></span><b>
                                Logout</b></a>
                    </li>
                </ul>
            </div>
            <script>
                function myFunction() {
                    alert("Your account is inactive. For activation you need to top up your balance!!!");
                    window.location.href = "{% url 'tasklist' %}";
                }
            </script>
            <script>
                function myFunction1() {
                    alert("Please activate your account for accessing this page!!!");

                }
            </script>
            <div class="text-muted"
                style="margin-top: -20px;padding-bottom:10px;float: none;width: auto;overflow: visible;">
                <h3 class="text-muted">Welcome <i>{{ request.user }}</i> <span style="font-size: 16px;">[<a href="/profile/">profile</a>]</span></h3>
{% if user.is_authenticated %}
    <b>Balance:</b> {{ user.balance.balance }}  USD [ <a href="{% url 'tasklist' %}">add funds</a>]<br>
{% else %}
<b>Balance:</b> <span id="user_balance">0.00</span> USD [ <a href="{% url 'tasklist' %}">add funds</a>]<br>

{% endif %}
                <link rel="shortcut icon" type="image/png">
<b>Crab Rating:</b>
<a href="#" class="open_cr" title="{{ user.balance.balance }} crab">
    {% if not user.balance or user.balance.balance is None %}
        <!-- No image for no balance -->
    {% elif user.balance.balance < 1 %}
        <!-- No crab image for 0 rating -->
    {% elif user.balance.balance >= 1 and user.balance.balance < 1001 %}
        <img src="{% static 'public/images/crab_rate.png' %}" alt="1 crab">
    {% elif user.balance.balance >= 1001 and user.balance.balance < 2001 %}
        {% for i in '01'|make_list %}
            <img src="{% static 'public/images/crab_rate.png' %}" alt="2 crabs">
        {% endfor %}
    {% elif user.balance.balance >= 2001 and user.balance.balance < 3001 %}
        {% for i in '012'|make_list %}
            <img src="{% static 'public/images/crab_rate.png' %}" alt="3 crabs">
        {% endfor %}
    {% elif user.balance.balance >= 3001 and user.balance.balance < 4001 %}
        {% for i in '0123'|make_list %}
            <img src="{% static 'public/images/crab_rate.png' %}" alt="4 crabs">
        {% endfor %}
    {% elif user.balance.balance >= 4001 and user.balance.balance < 6001 %}
        {% for i in '01234'|make_list %}
            <img src="{% static 'public/images/crab_rate.png' %}" alt="5 crabs">
        {% endfor %}
    {% else %}
        {% for i in '012345'|make_list %}
            <img src="{% static 'public/images/crab_rate.png' %}" alt="super crab">
        {% endfor %}
    {% endif %}
</a>
[ <a href="#" class="open_cr">details</a> ]<br>

                <span style="display:none;" id="current_loan_block"><b>Current loan:</b> <span id="current_loan"
                        style="color: red;"></span>$<br></span>
                <span style="display:none;"> en Billing.php</span>
                <b>Current server time:</b> <span id="current_time"></span>

                <script>
                    // Get the current time
                    var currentTime = new Date();

                    // Get the hours, minutes, and seconds
                    var h = currentTime.getHours();
                    var m = currentTime.getMinutes();
                    var s = currentTime.getSeconds();

                    // Add leading zeros to the hours, minutes, and seconds if they are less than 10
                    h = (h < 10 ? "0" : "") + h;
                    m = (m < 10 ? "0" : "") + m;
                    s = (s < 10 ? "0" : "") + s;

                    // Update the HTML element with the current time
                    document.getElementById("current_time").innerHTML = h + ":" + m + ":" + s;
                </script>
            </div>
            <div role="navigation">
                <ul class="nav nav-justified">
                    <li id="menu-home"><a href="{% url 'dashboard' %}">News</a></li>
                    <li id="menu-dumps-search"><a href="{% url 'dumps' %}"
                            style="background-image: -webkit-linear-gradient(top, #ABDDFC 0%, #ABDDFC 100%);">Dumps</a>
                    </li>
                    <li id="menu-cc-search" class=" active"><a href="/cvv"
                            style="background-image: -webkit-linear-gradient(top, #C8F6C8 0%, #C8F6C8 100%);">CVV2</a>
                    </li>
                    <li id="menu-fullz-search"><a href="{% url 'fullz' %}"
                            style="background-image: -webkit-linear-gradient(top, #bbfcff 0%, #bbfcff 100%);">Fullz</a>
                    </li>
                    <li id="menu-wholesale" style="min-width:110px;"><a href="{% url 'wholesale' %}">Wholesale</a></li>
                    <li id="menu-cart">
                        <a href="{% url 'cart' %}">Cart <span class="badge" id="count_cart_items">{{ request.session.cart_item_count|default:0 }}</span></a>
                    </li>
                    <li id="menu-orders"><a href="/orders">Orders</a></li>
                    <li id="menu-auction"><a href="/auction"
                            style="color: white; background-image: -webkit-linear-gradient(top, #FB786B 0%, #FB786B 100%);">Auction
                            <span class="badge" id="count_bids"></span></a></li>
                    <li id="menu-checker"><a href="/tools" style="background-color:#FFFFCC">Tools <span class="label label-danger" id="last_update_mybins_menu" style="display: initial;">new</span></a></li>
                    <li id="menu-tickets"><a href="/tickets/">Tickets <span class="badge" id="count_tickets"></span></a>
                    </li>
                    <li id="menu-logs" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false">Help<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">

                        </ul>
                    </li>
                    <li id="menu-profile"><a href="/profile"><span class="glyphicon glyphicon-cog"
                                aria-hidden="true"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger alert-danger-page fade in" style="display:none;margin-top:10px;" tabindex="-1">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p id="pageDanger"></p>
        </div>
        <div class="alert alert-block alert-success alert-success-page fade in" style="display:none;margin-top:10px;"
            tabindex="-1">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p id="pageSuccess"></p>
        </div>
        <div class="alert alert-block alert-info alert-info-page fade in" style="display:none;margin-top:30px;"
            tabindex="-1">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p id="pageInfo"></p>
        </div>
        {% if user.balance.balance == 0 or user.balance.balance is None %}            <div class="alert alert-block alert-info fade in" style="margin-top:10px;" tabindex="-1">

            <p>
                Your account is inactive. For activation you need <a href="{% url 'tasklist' %}">to top up your
                    balance</a>.<br>
                Attention: Not activated accounts for more than 5 days will be deleted automatically.
            </p>
        </div>

            {% endif %}

        <div class="panel-body">
            <div class="col-sm-16">









{% if cart_items %}

    <div class="buttonsCCCart" style="margin-bottom: 10px;">
        <button class="btn btn-danger" id="remove-selected-btn">Remove selected item(s)</button>
        <button class="btn btn-success" onclick="errorPayment()" ><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" ></span> Buy selected cvv2 </button>  &nbsp;


    </div>
    <table class="table table-bordered table-responsive table-striped table-hover">
    <tbody><tr>
        <td colspan="100%" style="font-size:22pt;text-align:center;"> Cards</td>
    </tr>
    <tr>
        <td><input type="checkbox" onclick="selectAllCC(this.checked);"></td>
        <th>Bin</th>
        <th>Type</th>
        <th>Subtype</th>
        <th>Exp Date</th>
        <th>Country</th>
        <th>State</th>
        <th>Full<br>Address</th>
        <th>Zip</th>
        <th>Extra</th>
        <th>Bank</th>
        <th>Base</th>
        <th>Price</th>
        <th>&nbsp;</th>
    </tr>
    </tbody><tbody id="ccBody">
        {% for item in cart_items %}

        <tr id="tr_cc_62535322">
            <td>
                <input type="checkbox" class="cart-item-checkbox" data-item-id="{{ item.id }}" id="checkbox_{{ item.id }}">
            </td>            <td>{{item.query}}</td>
            <td></td>
            <td> N/A</td>
            <td>{{ item.item }}</td>
            <td></td>
            <td>MA</td>
            <td> - </td>
            <td>-</td>
            <td>
                Phone<br>
                Email<br>




                IP<br>
                User-Agent<br>






            </td>
            <td style="font-size:8pt;">{{ item.issuer }}</span></td>
            <td style="font-size:8pt;">0617_</td>

            <td>

                <span id="cc_price_62535322" class="cc_price">{{ item.price }}</span> $

            </td>

            <td id="cc_act_62535322"><a href="#" title="remove item" onclick="removeCC(62535322);return false;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
        </tr>
        {% endfor %}

    <tr>
        <td colspan="11">&nbsp;</td><th colspan="2">Total Amount</th><td colspan="2"><span id="cc_total_amount" style="color:red">inactive Account X</span> $</td>
    </tr>
    </tbody>
    </table>
    <div class="buttonsCCCart" style="">
        <span class="batchRemoveCCDiv" style="display: none;">
            <button class="btn btn-danger" id="remove-selected-btn">Remove selected item(s)</button>
            <button class="btn btn-success" onclick="errorPayment()" ><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" ></span> Buy selected cvv2 </button>  &nbsp;

        </span>
    </div>
<form method="post" action="/Billing" id="selectedCCForm">
    <input type="hidden" name="csrfmiddlewaretoken" value="mOo2gHYBPpFNRLg1dsrK6jYUSSGYxvHg">
    <input type="hidden" name="buy_selected_cc" id="buy_selected_cc" value="">
</form>
<script>
countCCPrices();
setPrices();
var csrf = 'mOo2gHYBPpFNRLg1dsrK6jYUSSGYxvHg';
function selectAllCC(action) {
    $('.cart-item-checkbox').prop('checked', action);
    checkSelectedCC();
}
function getSelectedCCArray(only_arr) {
    ids = $("#ccBody input:checkbox:checked").map(function(){
      return $(this).val();
    }).get();
    if(!only_arr)
        return ids.join(";");
    else
        return ids
}
function checkSelectedCC() {
    var ids = getSelectedCCArray(true);

}
function removeCC(id) {
    var post_array = {
        'action': 'remove_items',
        'type': 'cc',
        'ids': id,
        'csrfmiddlewaretoken': csrf
    };
    submitCCRequest(post_array, [id]);
    return false;
}
function removeCCSelected() {
    var ids = getSelectedCCArray(true);
    if(ids.length==0) {
        showMessage('page', 'danger', 'selected items not found');
        return false;
    }
    var post_array = {
        'action': 'remove_items',
        'type': 'cc',
        'ids': ids.join(';'),
        'csrfmiddlewaretoken': csrf
    };
    submitCCRequest(post_array, ids);
}
function buyCCSelected() {
    var ids = getSelectedCCArray(true);
    if(ids.length==0) {
        showMessage('page', 'danger', 'selected items not found');
        return false;
    }
    $('#buy_selected_cc').val(ids.join(';'));
    $('#selectedCCForm').submit();
}
function submitCCRequest(post_array, ids) {
    $.post('/cart/', post_array, function (data) {
        $.each( data.success_ids, function( key, item ) {
            $('#tr_cc_' + item).remove();
        });
        if(data.total_items_count) {
            if(data.total_items_count['count'] > 0)
                $('#count_cart_items').html(data.total_items_count['count']);
            else
                $('#count_cart_items').html('');
        }
        if($('.cc_checkboxes').length==0) {
            $('#ccBody').html("<tr><td colspan='100%' style='text-align:center;'>you don't have CVV2 in your cart</td></tr>");
            $('.buttonsCCCart').hide();
        }
        if (data && data.status == 'fail') {
            showMessage('page', 'danger', data.message);
        }
        setPrices(true);
        checkSelectedCC();
    }, 'json').error(function () {
        showMessage('page', 'danger', 'timeout error, please try again');
        for (var i = 0; i < l; i++)
            $('#button_cart_' + ids[i]).removeAttr('disabled');
    }).always(function () {
        //
    });
    return true;
}
function countCCPrices() {
    var totalPrice = 0;
    var discountPercent = 0;
    var discountAmount = 0;
    var cc_price;
    $(".cc_price").map(function(){
        cc_price = parseFloat($(this).html());
        totalPrice += cc_price;
        discountAmount += cc_price / 100.0 * parseFloat(discountPercent)
    });
    $('#cc_total_amount').html(totalPrice.toFixed(2));
    return [totalPrice,discountPercent,discountAmount];
}
</script>




    <div class="col-sm-7"></div>
    <div class="col-sm-5">

        <a href="#" data-toggle="modal" data-target="#modalViewRules" style="color: red;font-weight: bold;">Please read carefully before buying!</a><table class="table table-bordered right" style="width:100%">
        <tbody><tr id="tr_cart_total_amount" style="display: none;">
            <th>Total Amount: </th><td><span id="cart_total_amount">0.00</span> $</td>
        </tr>
        <tr id="tr_cart_checker_fee" style="display: none;">
            <th>Checker Fee: </th><td><span id="cart_checker_fee">0.00</span> $</td>
        </tr>
        <tr id="tr_cart_discount" style="">
            <th>Discount: </th><td><span id="cart_discount_percent">0.00</span>% (<span id="cart_discount">0.00</span> $)</td>
        </tr>
        {% comment %} <tr id="tr_cart_summary" style="">
            <td colspan="11">&nbsp;</td><th colspan="2">Total Amount</th><td colspan="2"><span id="cc_total_amount" style="color:red">inactive Account X</span> $</td>
        </span>
        </tr> {% endcomment %}



        </tbody></table>
        {% comment %} <a href="/cvv" class="btn btn-default">Continue Shopping</a> &nbsp;  &nbsp; <p  class="btn btn-primary btn-lg" id="btn_complete_order" onclick="errorPayment()"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Complete Order</p> {% endcomment %}
        <form id="complete_order_form" method="post" >
            {% csrf_token %}
            {% comment %} <input type="hidden" name="action" value="/cart"> {% endcomment %}
            {% comment %} <button type='submit'>Complete Order</button> {% endcomment %}
            <a href="/cvv" class="btn btn-default">Continue Shopping</a>
        &nbsp; &nbsp;
        <button type='submit' class="btn btn-primary btn-lg" id="btn_complete_order" onclick="completeOrder()">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Complete Order
        </button>
        </form>



        <script>
        function completeOrder() {
             var form = document.getElementById('complete_order_form');
            form.action = form.querySelector('input[name="action"]').value;
            form.submit();
        }
        </script>

    </div>

    <div class="modal fade" id="modalViewRules" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalDepositTitle">Purchase rules</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills nav-stacked col-xs-3 col-sm-2 sidebar-offcanvas list-group">
                        <li class=""><a href="#russian" class="list-group-item" role="tab" data-toggle="tab">На Русском</a></li>
                        <li class=" active"><a href="#english" class="list-group-item" role="tab" data-toggle="tab">In English</a></li>
                    </ul>
                    <div class="tab-content col-xs-9 col-sm-10">
                        <div role="tabpanel" class="tab-pane" id="russian">
                            <b>Внимательно прочитайте данную информацию перед покупкой:</b><br><br>
                            <ul style="list-style-type: decimal;">
                                <li>Полный адрес поставляется только с картами которые имеют отметку "Yes" в колонке "Full Address"</li>
                                <li>В колонке "Name", отображается первое имя держателя карты, фамилия скрыта символами *.<br>
                                    <b>Внимание!</b> Если после имени нет символов *, значит нет информации о фамилии держаталя карты.</li>

                                <li>Наличие дополнительной информации к картой указан в колонке <b>"Extra"</b>, значения:
                                    <ul>
                                        <li><b>E-mail</b> = e-mail адрес</li>
                                        <li><b>Phone</b> = телефонный номер</li>
                                        <li><b>DOB</b> = Дата рождения</li>
                                        <li><b>SSN</b> = Номер социального страхования</li>
                                        <li><b>MMN</b> = Девичья фамилия матери</li>
                                        <li><b>EmailPass</b> = пароль к e-mail</li>
                                        <li><b>IP</b> = IP адрес держателя карты</li>
                                        <li><b>LPA</b> = Сумма последней транзакции по карте</li>
                                        <li><b>DrvLic</b> = водительские права</li>
                                        <li><b>AT&amp;T PIN</b> = the AT&amp;T pin that allows you to forward all the phone calls to confirm high priced transactions</li>
                                        <li><b>ATM PIN</b> = pin код для карты с cvv2. Для некоторых BIN вы можете сгенерировать track2, используя карту cvv2.</li>
                                    </ul>
                                </li>
                                <li>Символ "-" или N/A в люой колонке обозначает, что такой информации нет.</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="english">
                            <b>Carefully read the following instruction before buying:</b><br><br>
                            <ul style="list-style-type: decimal;">
                                <li>Complete address is available only for cards marked as "Yes" in the "Full Address" column.</li>
                                <li>The "Name" column is only reflecting first name of the cardholder while last name is hidden by asterisks *.<br>
                                    <b>Attention!</b> If you don't see asterisks * after the first name, then this card is not having a last name along with it.</li>

                                <li>The <b>"Extra"</b> column shows availability of the following additional information for the card you're about to grab:
                                    <ul>
                                        <li><b>E-mail</b> = the e-mail address</li>
                                        <li><b>Phone</b> = the phone number</li>
                                        <li><b>DOB</b> = date of birth</li>
                                        <li><b>SSN</b> = social security number</li>
                                        <li><b>MMN</b> = mother's maiden name</li>
                                        <li><b>EmailPass</b> = password for the e-mail</li>
                                        <li><b>IP</b> = IP address of the cardholder</li>
                                        <li><b>LPA</b> = amount of money last processed by cardholder</li>
                                        <li><b>DrvLic</b> = driver license</li>
                                        <li><b>AT&amp;T PIN</b> = the AT&amp;T pin that allows you to forward all the phone calls to confirm high priced transactions</li>
                                        <li><b>ATM PIN</b> = the pin for the cvv2 card. You can generate a track2 using cvv2 card for some of the BINs on various carding communities.</li>
                                    </ul>
                                </li>
                                <li>Symbol of "-" or "N/A" in any of the columns mean there's no information available.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

            </div>
        </div>

        {% else %}
        <div class="panel panel-default" style="margin-top: 15px;min-height: 400px;">
            <div class="panel-body">
                <div class="col-sm-16">
                    <h2 style="color:red " class="featurette-heading">Shopping Cart failed</h2>
                    <span class="text-muted" style="font-size:14pt;" style="color:red ">you dont have enough balance . <a
                            href="{% url 'tasklist' %}">topup Balance</a>.</span>
                    <br>
                    <div class="col-sm-7"></div>
                    <div class="col-sm-5">
                    </div>
                    <div class="modal fade" id="modalViewRules" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                                            aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="modalDepositTitle">Purchase rules</h4>
                                </div>
                                <div class="modal-body">
                                    <ul
                                        class="nav nav-pills nav-stacked col-xs-3 col-sm-2 sidebar-offcanvas list-group">
                                        <li class=""><a href="#russian" class="list-group-item" role="tab"
                                                data-toggle="tab">На Русском</a></li>
                                        <li class=" active"><a href="#english" class="list-group-item" role="tab"
                                                data-toggle="tab">In English</a></li>
                                    </ul>
                                    <div class="tab-content col-xs-9 col-sm-10">
                                        <div role="tabpanel" class="tab-pane" id="russian">
                                            <b>Внимательно прочитайте данную информацию перед покупкой:</b><br><br>
                                            <ul style="list-style-type: decimal;">
                                                <li>Полный адрес поставляется только с картами которые имеют отметку
                                                    "Yes" в колонке "Full Address"</li>
                                                <li>В колонке "Name", отображается первое имя держателя карты, фамилия
                                                    скрыта символами *.<br>
                                                    <b>Внимание!</b> Если после имени нет символов *, значит нет
                                                    информации о фамилии держаталя карты.
                                                </li>
                                                <li>Наличие дополнительной информации к картой указан в колонке
                                                    <b>"Extra"</b>, значения:
                                                    <ul>
                                                        <li><b>E-mail</b> = e-mail адрес</li>
                                                        <li><b>Phone</b> = телефонный номер</li>
                                                        <li><b>DOB</b> = Дата рождения</li>
                                                        <li><b>SSN</b> = Номер социального страхования</li>
                                                        <li><b>MMN</b> = Девичья фамилия матери</li>
                                                        <li><b>EmailPass</b> = пароль к e-mail</li>
                                                        <li><b>IP</b> = IP адрес держателя карты</li>
                                                        <li><b>LPA</b> = Сумма последней транзакции по карте</li>
                                                        <li><b>DrvLic</b> = водительские права</li>
                                                        <li><b>AT&amp;T PIN</b> = the AT&amp;T pin that allows you to
                                                            forward all the phone calls to confirm high priced
                                                            transactions</li>
                                                        <li><b>ATM PIN</b> = pin код для карты с cvv2. Для некоторых BIN
                                                            вы можете сгенерировать track2, используя карту cvv2.</li>
                                                    </ul>
                                                </li>
                                                <li>Символ "-" или N/A в люой колонке обозначает, что такой информации
                                                    нет.</li>
                                            </ul>
                                        </div>
                                        <div role="tabpanel" class="tab-pane active" id="english">
                                            <b>Carefully read the following instruction before buying:</b><br><br>
                                            <ul style="list-style-type: decimal;">
                                                <li>Complete address is available only for cards marked as "Yes" in the
                                                    "Full Address" column.</li>
                                                <li>The "Name" column is only reflecting first name of the cardholder
                                                    while last name is hidden by asterisks *.<br>
                                                    <b>Attention!</b> If you don't see asterisks * after the first name,
                                                    then this card is not having a last name along with it.
                                                </li>
                                                <li>The <b>"Extra"</b> column shows availability of the following
                                                    additional information for the card you're about to grab:
                                                    <ul>
                                                        <li><b>E-mail</b> = the e-mail address</li>
                                                        <li><b>Phone</b> = the phone number</li>
                                                        <li><b>DOB</b> = date of birth</li>
                                                        <li><b>SSN</b> = social security number</li>
                                                        <li><b>MMN</b> = mother's maiden name</li>
                                                        <li><b>EmailPass</b> = password for the e-mail</li>
                                                        <li><b>IP</b> = IP address of the cardholder</li>
                                                        <li><b>LPA</b> = amount of money last processed by cardholder
                                                        </li>
                                                        <li><b>DrvLic</b> = driver license</li>
                                                        <li><b>AT&amp;T PIN</b> = the AT&amp;T pin that allows you to
                                                            forward all the phone calls to confirm high priced
                                                            transactions</li>
                                                        <li><b>ATM PIN</b> = the pin for the cvv2 card. You can generate
                                                            a track2 using cvv2 card for some of the BINs on various
                                                            carding communities.</li>
                                                    </ul>
                                                </li>
                                                <li>Symbol of "-" or "N/A" in any of the columns mean there's no
                                                    information available.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalCR" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="width:800px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Crab Rating </h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <table class="table table-bordered" style="width:100%;max-width:400px;">
                                        <tbody>
                                            <tr>
                                                <th>Total Deposits: </th>
                                                <td><a href="#">{{ user.balance.balance }} $</a></td>
                                            </tr>
                                            <tr>
                                                <th>Total Refunds: </th>
                                                <td><a href="#">0.00 $</a></td>
                                            </tr>
                                            <tr>
                                                <th>Crab Points: </th>
                                                <td>{{ user.balance.balance }} - 0.00 = {{ user.balance.balance }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <span style="font-size:15pt;">Your crab rating:</span> &nbsp;<span style="font-size:17pt;">
                                        {% if user.balance.balance < 1 %}
                                            0
                                        {% elif user.balance.balance >= 1 and user.balance.balance < 1001 %}
                                            1
                                        {% elif user.balance.balance >= 1001 and user.balance.balance < 2001 %}
                                            2
                                        {% elif user.balance.balance >= 2001 and user.balance.balance < 3001 %}
                                            3
                                        {% elif user.balance.balance >= 3001 and user.balance.balance < 4001 %}
                                            4
                                        {% elif user.balance.balance >= 4001 and user.balance.balance < 6001 %}
                                            5
                                        {% else %}
                                            super
                                        {% endif %}
                                    </span> <br>
                                    Next level is <b>1 crab</b> (1.00 points left)
                                </div>
                                <div class="col-md-12">
                                    <i>We count only deposits and refunds from <u>last 60 days</u><br>
                                        The rating is recalculated every 30 minutes</i><br><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <th>Crab Points</th>
                                                <th>Rating</th>
                                                <th>Discounts</th>
                                                <th>Other</th>
                                            </tr>
                                            <tr id="crab00_tr" {% if user.balance.balance < 1 %}class="success"{% endif %}>
                                                <td>&lt; 1</td>
                                                <td>0 crabs</td>
                                                <td> - </td>
                                                <td> wait period 3 hours </td>
                                            </tr>
                                            <tr id="crab1_tr" {% if user.balance.balance >= 1 and user.balance.balance < 1001 %}class="success"{% endif %}>
                                                <td>1 - 1000</td>
                                                <td>1 crab</td>
                                                <td> 3% </td>
                                                <td> wait period 2 hours </td>
                                            </tr>
                                            <tr id="crab2_tr" {% if user.balance.balance >= 1001 and user.balance.balance < 2001 %}class="success"{% endif %}>
                                                <td>1001 - 2000</td>
                                                <td>2 crabs</td>
                                                <td> 5% </td>
                                                <td> wait period 1 hour </td>
                                            </tr>
                                            <tr id="crab3_tr" {% if user.balance.balance >= 2001 and user.balance.balance < 3001 %}class="success"{% endif %}>
                                                <td>2001 - 3000</td>
                                                <td>3 crabs</td>
                                                <td> 7% </td>
                                                <td> - </td>
                                            </tr>
                                            <tr id="crab4_tr" {% if user.balance.balance >= 3001 and user.balance.balance < 4001 %}class="success"{% endif %}>
                                                <td>3001 - 4000</td>
                                                <td>4 crabs</td>
                                                <td> 9% </td>
                                                <td> - </td>
                                            </tr>
                                            <tr id="crab5_tr" {% if user.balance.balance >= 4001 and user.balance.balance < 6001 %}class="success"{% endif %}>
                                                <td>4001 - 6000</td>
                                                <td>5 crabs</td>
                                                <td> 12% </td>
                                                <td> - </td>
                                            </tr>
                                            <tr id="crab6_tr" {% if user.balance.balance >= 6001 %}class="success"{% endif %}>
                                                <td>&gt; 6001</td>
                                                <td>super crab</td>
                                                <td> 15% </td>
                                                <td> VIP status </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script >
            function removeSelectedItems() {
                // Get the selected cart item IDs
                var selected_item_ids = [];
                $('.cart-item-checkbox:checked').each(function() {
                    selected_item_ids.push($(this).data('item-id'));
                });

                if (selected_item_ids.length === 0) {
                    alert('Please select at least one item to remove');
                    return;
                }

                // Display a SweetAlert2 confirmation message
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Proceed with the removal if the user confirms
                        $.ajax({
                            url: '/remove_selected_from_cart/',
                            type: 'POST',
                            data: {
                                'item_ids': JSON.stringify(selected_item_ids),
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function(response) {
                                if (response.success) {
                                    // Remove the selected cart items from the table
                                    $('.cart-item-checkbox:checked').each(function() {
                                        $(this).closest('tr').remove();
                                    });

                                    // Update the cart item count
                                    var currentCount = parseInt($('.c_count').text());
                                    $('.c_count').text(currentCount - selected_item_ids.length);

                                    // Show a success message
                                    Swal.fire(
                                        'Deleted!',
                                        'The selected items have been removed from the cart.',
                                        'success'
                                    );
                                } else {
                                    Swal.fire(
                                        'Error',
                                        'Error removing selected items from cart.',
                                        'error'
                                    );
                                }
                            }
                        });
                    }
                });
            }
            $(document).ready(function() {
                $('#remove-selected-btn').on('click', function() {
                    removeSelectedItems();
                });
            });
            {% if low_balance %}
            function errorPayment() {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',

                    text: 'You Dont Have Balance!',
                    footer: '<a href="/Billing">to top up your balance</a>'
                })
            }
        {% else %}
            function errorPayment() {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Your Balance is less than 100 to activate your account you have to make your balance above 100$ after that you can checkout your items !',
                    footer: '<a href="/Billing">to top up your balance</a>'
                })
            }
        {% endif %}
        </script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            var csrfToken = '{{ csrf_token }}';
            var cartItemCount = {{ request.session.cart_item_count|default:0 }};
        </script>
        <script src="{% static 'public/js/cart.js' %}"></script>
        <hr>
        <footer>
            <center><a href="{% url 'tasklist' %}">Earn money with us!</a></center>
            <p>© 2021 Crabs on Security </p>
        </footer>


</body>

</html>
