<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
        {% load google_analytics %}

    {% if site_config.google_analytics_id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site_config.google_analytics_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { { dataLayer.push(arguments); } }
        gtag('js', new Date());
        gtag('config', '{{ site_config.google_analytics_id }}');
    </script>
    {% endif %}
    <!-- Google tag (gtag.js) -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="onion-location" content="http://briansccxf4qknms.onion">
    <meta name="n" content="1">
    <title>Profile</title>
    <link href="{% static 'public/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'public/css/justified-nav.css' %}" rel="stylesheet">
    <link href="{% static 'public/css/elem.css' %}" rel="stylesheet">

    <link href="{% static 'public/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'public/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
    <link href="{% static 'public/css/jquery.bootstrap-touchspin.css' %}" rel="stylesheet">
    <link href="{% static 'public/css/slider.css' %}" rel="stylesheet">
    <script src="{% static 'public/js/jquery.min.js' %}"></script>
    <script src="{% static 'public/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'public/js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'public/js/date.js' %}"></script>
    <script src="{% static 'public/js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'public/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'public/js/passgen.min.js' %}"></script>
    <script src="{% static 'public/js/bootstrap-toggle.min.js' %}"></script>
    <script src="{% static 'public/js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'public/js/bootstrap-slider.js' %}"></script>
    <link rel="icon" href="{% static 'public/images/favicon.ico' %}">
    <style>
        .nav-right li a {
            padding-top: 6px !important;
            padding-bottom: 6px !important;
        }
    </style>
    <style type="text/css">
        @font-face {
            font-family: Roboto;
            src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf");
        }
    </style>
</head>

<body>
    <div class="container" style="width:90%;max-width:1700px;">
        <div class="masthead" style="">
            <div role="navigation"
                style="float: right;margin-top: 0px; white-space: nowrap; width: min-content;width: -moz-min-content;width: -webkit-min-content;display: -ms-grid;-ms-grid-columns: min-content;">
                <ul class="nav nav-justified nav-right">
                    <li>
                        <a href="{% url 'tasklist' %}" style="color:green;"> <b>Lottery</b> <span
                                class="glyphicon glyphicon-usd" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="openMyGift" data-toggle="modal" data-target="#myModalDetailsMG"><span
                                    class="glyphicon glyphicon-gift" aria-hidden="true"
                                    style="color: orangered;"></span> My Gift </span></a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"
                                aria-hidden="true"></span><b>
                                Logout</b></a>
                    </li>
                </ul>
            </div>
            <script>
                function myFunction() {
                    alert("Your account is inactive. For activation you need to top up your balance!!!");
                    window.location.href = "{% url 'tasklist' %}";
                }
            </script>
            <script>
                function myFunction1() {
                    alert("Please activate your account for accessing this page!!!");

                }
            </script>
            <div class="text-muted"
                style="margin-top: -20px;padding-bottom:10px;float: none;width: auto;overflow: visible;">
                <h3 class="text-muted">Welcome <i>{{ request.user }}</i> <span style="font-size: 16px;">[<a href="/profile/">profile</a>]</span></h3>
{% if user.is_authenticated %}
    <b>Balance:</b> {{ user.balance.balance|floatformat:2 }}  USD [ <a href="{% url 'tasklist' %}">add funds</a>]<br>
{% else %}
<b>Balance:</b> <span id="user_balance">0.00</span> USD [ <a href="{% url 'tasklist' %}">add funds</a>]<br>

{% endif %}
                <link rel="shortcut icon" type="image/png">
<b>Crab Rating:</b>
<a href="#" class="open_cr" title="{{ user.balance.balance }} crab">
    {% if not user.balance or user.balance.balance is None %}
        <!-- No image for no balance -->
    {% elif user.balance.balance < 1 %}
        <!-- No crab image for 0 rating -->
    {% elif user.balance.balance >= 1 and user.balance.balance < 1001 %}
        <img src="{% static 'public/images/crab_rate.png' %}" alt="1 crab">
    {% elif user.balance.balance >= 1001 and user.balance.balance < 2001 %}
        {% for i in '01'|make_list %}
            <img src="{% static 'public/images/crab_rate.png' %}" alt="2 crabs">
        {% endfor %}
    {% elif user.balance.balance >= 2001 and user.balance.balance < 3001 %}
        {% for i in '012'|make_list %}
            <img src="{% static 'public/images/crab_rate.png' %}" alt="3 crabs">
        {% endfor %}
    {% elif user.balance.balance >= 3001 and user.balance.balance < 4001 %}
        {% for i in '0123'|make_list %}
            <img src="{% static 'public/images/crab_rate.png' %}" alt="4 crabs">
        {% endfor %}
    {% elif user.balance.balance >= 4001 and user.balance.balance < 6001 %}
        {% for i in '01234'|make_list %}
            <img src="{% static 'public/images/crab_rate.png' %}" alt="5 crabs">
        {% endfor %}
    {% else %}
        {% for i in '012345'|make_list %}
            <img src="{% static 'public/images/crab_rate.png' %}" alt="super crab">
        {% endfor %}
    {% endif %}
</a>
[ <a href="#" class="open_cr">details</a> ]<br>

                <span style="display:none;" id="current_loan_block"><b>Current loan:</b> <span id="current_loan"
                        style="color: red;"></span>$<br></span>
                <span style="display:none;"> en Billing.php</span>
                <b>Current server time:</b> <span id="current_time"></span>

                <script>
                    // Get the current time
                    var currentTime = new Date();

                    // Get the hours, minutes, and seconds
                    var h = currentTime.getHours();
                    var m = currentTime.getMinutes();
                    var s = currentTime.getSeconds();

                    // Add leading zeros to the hours, minutes, and seconds if they are less than 10
                    h = (h < 10 ? "0" : "") + h;
                    m = (m < 10 ? "0" : "") + m;
                    s = (s < 10 ? "0" : "") + s;

                    // Update the HTML element with the current time
                    document.getElementById("current_time").innerHTML = h + ":" + m + ":" + s;
                </script>
            </div>
            <div role="navigation">
                <ul class="nav nav-justified">
                    <li id="menu-home"><a href="{% url 'dashboard' %}">News</a></li>
                    <li id="menu-dumps-search"><a href="{% url 'dumps' %}"
                            style="background-image: -webkit-linear-gradient(top, #ABDDFC 0%, #ABDDFC 100%);">Dumps</a>
                    </li>
                    <li id="menu-cc-search" class=" active"><a href="/cvv"
                            style="background-image: -webkit-linear-gradient(top, #C8F6C8 0%, #C8F6C8 100%);">CVV2</a>
                    </li>
                    <li id="menu-fullz-search"><a href="/fullz"
                            style="background-image: -webkit-linear-gradient(top, #bbfcff 0%, #bbfcff 100%);">Fullz</a>
                    </li>
                    <li id="menu-wholesale" style="min-width:110px;"><a href="/wholesale">Wholesale</a></li>
                    <li id="menu-cart">
                        <a href="{% url 'cart' %}">Cart <span class="badge" id="count_cart_items">{{ request.session.cart_item_count|default:0 }}</span></a>
                    </li>                    <li id="menu-orders"><a href="/orders">Orders</a></li>
                    <li id="menu-auction"><a href="/auction"
                            style="color: white; background-image: -webkit-linear-gradient(top, #FB786B 0%, #FB786B 100%);">Auction
                            <span class="badge" id="count_bids"></span></a></li>
                    <li id="menu-checker"><a href="/tools" style="background-color:#FFFFCC">Tools <span class="label label-danger" id="last_update_mybins_menu" style="display: initial;">new</span></a></li>
                    <li id="menu-tickets"><a href="/tickets/">Tickets <span class="badge" id="count_tickets"></span></a>
                    </li>
                    <li id="menu-logs" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false">Help<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">

                        </ul>
                    </li>
                    <li id="menu-profile" class=" active"><a href="/profile"><span class="glyphicon glyphicon-cog"
                                aria-hidden="true"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger alert-danger-page fade in" style="display:none;margin-top:10px;" tabindex="-1">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p id="pageDanger"></p>
        </div>
        <div class="alert alert-block alert-success alert-success-page fade in" style="display:none;margin-top:10px;"
            tabindex="-1">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p id="pageSuccess"></p>
        </div>
        <div class="alert alert-block alert-info alert-info-page fade in" style="display:none;margin-top:30px;"
            tabindex="-1">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p id="pageInfo"></p>
        </div>
        {% if user.balance.balance == 0 or user.balance.balance is None %}            <div class="alert alert-block alert-info fade in" style="margin-top:10px;" tabindex="-1">

            <p>
                Your account is inactive. For activation you need <a href="{% url 'tasklist' %}">to top up your
                    balance</a>.<br>
                Attention: Not activated accounts for more than 5 days will be deleted automatically.
            </p>
        </div>

            {% endif %}
        <div class="panel panel-default" style="margin-top: 15px;min-height: 400px;">
            <div class="panel-body">
                <div class="col-sm-16">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#profileTab" role="tab" data-toggle="tab">Profile</a></li>
                            <li class=""><a href="#passwordTab" role="tab" data-toggle="tab">Change password</a></li>
                            <li class=""><a href="#securityTab" role="tab" data-toggle="tab">Security</a></li>
                        </ul>
                    </div>
                    <div class="tab-content" style="margin-top:15px;">
                        <div role="tabpanel" class="tab-pane active" id="profileTab">
                            <div class="col-sm-8">
                                <form class="form-profile bv-form" id="profileForm" action="" method="" role="form"
                                    novalidate="novalidate"><button type="submit" class="bv-hidden-submit"
                                        style="display: none; width: 0px; height: 0px;"></button>
                                    <input type="hidden" name="csrfmiddlewaretoken"
                                        value="TWXCtntphziA8JBWLFYVxSpjunWwUdQ1">
                                    <div class="form-group has-feedback"><label class="control-label"
                                            for="id_jabber">Jabber</label><input class="form-control" id="id_jabber"
                                            maxlength="32" name="jabber" placeholder="Jabber" title="" type="email"
                                            data-bv-field="jabber"><i class="form-control-feedback"
                                            data-bv-icon-for="jabber" style="display: none;"></i><small
                                            class="help-block" data-bv-validator="stringLength" data-bv-for="jabber"
                                            data-bv-result="NOT_VALIDATED" style="display: none;">Jabber must be less
                                            than 32 characters long</small><small class="help-block"
                                            data-bv-validator="emailAddress" data-bv-for="jabber"
                                            data-bv-result="NOT_VALIDATED" style="display: none;">Jabber is
                                            invalid</small><small class="help-block" data-bv-validator="remote"
                                            data-bv-for="jabber" data-bv-result="NOT_VALIDATED"
                                            style="display: none;">That jabber is already taken , please select another
                                        </small></div>
                                    <div class="form-group has-feedback"><label class="control-label"
                                            for="id_email">E-Mail</label><input class="form-control" id="id_email"
                                            maxlength="255" name="email" placeholder="E-Mail" title="" type="email"
                                            value="sasas@ad.asd" data-bv-field="email"><i class="form-control-feedback"
                                            data-bv-icon-for="email" style="display: none;"></i><small
                                            class="help-block" data-bv-validator="stringLength" data-bv-for="email"
                                            data-bv-result="NOT_VALIDATED" style="display: none;">E-Mail must be less
                                            than 32 characters long</small><small class="help-block"
                                            data-bv-validator="emailAddress" data-bv-for="email"
                                            data-bv-result="NOT_VALIDATED" style="display: none;">E-Mail is
                                            invalid</small><small class="help-block" data-bv-validator="remote"
                                            data-bv-for="email" data-bv-result="NOT_VALIDATED"
                                            style="display: none;">That email is already exists , please select another
                                        </small></div>
                                    <div class="form-group has-feedback"><label class="control-label"
                                            for="id_lang">Language</label><select class="form-control" id="id_lang"
                                            name="lang" required="required" title="" data-bv-field="lang">
                                            <option value="en" selected="selected">English</option>
                                            <option value="ru">Русский</option>
                                            <option value="zh">中国</option>
                                        </select><i class="form-control-feedback" data-bv-icon-for="lang"
                                            style="display: none;"></i><small class="help-block"
                                            data-bv-validator="notEmpty" data-bv-for="lang"
                                            data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a
                                            value</small></div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Save">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="passwordTab">
                            <div class="col-sm-8">
                                <input type="hidden">
                                <form class="form-profile" id="formChangePassword" action="{% url 'change_password' %}"
                                    method="post" role="form">
                                    {% csrf_token %}
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    <div class="form-group">
                                        <label class="control-label" for="id_new_password">New Password</label>
                                        <div class="kv-password">
                                            <table class="kv-strength-container">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control" id="id_new_password"
                                                                    maxlength="64" name="new_password" title=""
                                                                    type="password"
                                                                    style="width:300px;margin-right:10px;">
                                                                <span class="input-group-addon"></span>
                                                            </div>
                                                        </td>
                                                        <td class="kv-meter-container">
                                                            <div class="kv-meter">
                                                                <div class="kv-scorebar-border">
                                                                    <div class="kv-scorebar"
                                                                        style="background-position: 0px center;"></div>
                                                                    <div class="kv-score kv-score-0">0%</div>
                                                                </div>
                                                                <div class="kv-verdict">
                                                                    <div class="label label-default">Too Short</div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <input type="hidden" value="0">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="id_confirm_password">Confirm Password</label>
                                        <input class="form-control" id="id_confirm_password" maxlength="64"
                                            name="confirm_password" title="" type="password" style="width:300px;">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" id="buttonChangePassword"
                                            value="Change">
                                    </div>
                                </form>
                                {% if messages %}
                                <div class="alert alert-success">
                                    {% for message in messages %}
                                    {{ message }}
                                    {% endfor %}
                                </div>
                                {% endif %}

                                {% if form.errors %}
                                <div class="alert alert-danger">
                                    {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                    {{ field }}: {{ error }}
                                    {% endfor %}
                                    {% endfor %}
                                </div>
                                {% endif %}

                                <!-- Your profile HTML code here -->
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="securityTab">
                            <div class="col-sm-8">
                                <form class="form-profile" id="formChangeSecurity" action="" method="" role="form">
                                    <input type="hidden" name="csrfmiddlewaretoken"
                                        value="TWXCtntphziA8JBWLFYVxSpjunWwUdQ1">
                                    <div class="form-group">
                                        <label class="control-label" for="id_double_verification">Double
                                            Verification</label>
                                        <select id="id_double_verification" name="double_verification"
                                            class="form-control">
                                            <option value="0" selected="">Disabled</option>
                                            <option value="3">Secret Phrase</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="secret_div" style="display:none;">
                                        <label class="control-label" for="id_secret_phrase">Secret Phrase</label>
                                        <input type="text" id="id_secret_phrase" name="secret_phrase"
                                            class="form-control" maxlength="100" placeholder="iambriankrebs" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" id="buttonChangeSecurity"
                                            value="Save">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <footer>
            <center><a href="{% url 'tasklist' %}">Earn money with us!</a></center>
            <p>© 2021 Crabs on Security </p>
        </footer>
<div class="modal fade" id="myModalCR" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">Crab Rating</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-bordered" style="width:100%;max-width:400px;">
                                <tbody>
                                    <tr>
                                        <th>Total Deposits: </th>
                                        <td><a href="#">{{ user.balance.balance }} $</a></td>
                                    </tr>
                                    <tr>
                                        <th>Total Refunds: </th>
                                        <td><a href="#">0.00 $</a></td>
                                    </tr>
                                    <tr>
                                        <th>Crab Points: </th>
                                        <td>{{ user.balance.balance }} - 0.00 = {{ user.balance.balance }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <span style="font-size:15pt;">Your crab rating:</span> &nbsp;<span style="font-size:17pt;">
                                {% if user.balance.balance < 1 %}
                                    0
                                {% elif user.balance.balance >= 1 and user.balance.balance < 1001 %}
                                    1
                                {% elif user.balance.balance >= 1001 and user.balance.balance < 2001 %}
                                    2
                                {% elif user.balance.balance >= 2001 and user.balance.balance < 3001 %}
                                    3
                                {% elif user.balance.balance >= 3001 and user.balance.balance < 4001 %}
                                    4
                                {% elif user.balance.balance >= 4001 and user.balance.balance < 6001 %}
                                    5
                                {% else %}
                                    super
                                {% endif %}
                            </span> <br>
                            Next level is <b>1 crab</b> (1.00 points left)
                        </div>
                        <div class="col-md-12">
                            <i>We count only deposits and refunds from <u>last 60 days</u><br>
                                The rating is recalculated every 30 minutes</i><br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th>Crab Points</th>
                                        <th>Rating</th>
                                        <th>Discounts</th>
                                        <th>Other</th>
                                    </tr>
                                    <tr id="crab00_tr" {% if user.balance.balance < 1 %}class="success"{% endif %}>
                                        <td>&lt; 1</td>
                                        <td>0 crabs</td>
                                        <td> - </td>
                                        <td> wait period 3 hours </td>
                                    </tr>
                                    <tr id="crab1_tr" {% if user.balance.balance >= 1 and user.balance.balance < 1001 %}class="success"{% endif %}>
                                        <td>1 - 1000</td>
                                        <td>1 crab</td>
                                        <td> 3% </td>
                                        <td> wait period 2 hours </td>
                                    </tr>
                                    <tr id="crab2_tr" {% if user.balance.balance >= 1001 and user.balance.balance < 2001 %}class="success"{% endif %}>
                                        <td>1001 - 2000</td>
                                        <td>2 crabs</td>
                                        <td> 5% </td>
                                        <td> wait period 1 hour </td>
                                    </tr>
                                    <tr id="crab3_tr" {% if user.balance.balance >= 2001 and user.balance.balance < 3001 %}class="success"{% endif %}>
                                        <td>2001 - 3000</td>
                                        <td>3 crabs</td>
                                        <td> 7% </td>
                                        <td> - </td>
                                    </tr>
                                    <tr id="crab4_tr" {% if user.balance.balance >= 3001 and user.balance.balance < 4001 %}class="success"{% endif %}>
                                        <td>3001 - 4000</td>
                                        <td>4 crabs</td>
                                        <td> 9% </td>
                                        <td> - </td>
                                    </tr>
                                    <tr id="crab5_tr" {% if user.balance.balance >= 4001 and user.balance.balance < 6001 %}class="success"{% endif %}>
                                        <td>4001 - 6000</td>
                                        <td>5 crabs</td>
                                        <td> 12% </td>
                                        <td> - </td>
                                    </tr>
                                    <tr id="crab6_tr" {% if user.balance.balance >= 6001 %}class="success"{% endif %}>
                                        <td>&gt; 6001</td>
                                        <td>super crab</td>
                                        <td> 15% </td>
                                        <td> VIP status </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


        <div class="modal fade" id="myModalDetailsC" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="width:800px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalDetailsCTitle">Details</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger alert-danger-modal fade in" style="display:none;">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <p class="modalDanger"></p>
                        </div>
                        <div id="cr_details_data" style="max-height:400px;overflow:auto;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalDetailsMG" tabindex="-1" role="dialog" aria-hidden="false">
            <div class="modal-dialog" style="width:800px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalDetailsMGTitle">Terms for receiving a free daily dump!</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger alert-danger-modal fade in" style="display:none;">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <p class="modalDanger"></p>
                        </div>
                        <div id="mg_data" style="max-height:400px;overflow:auto;">
                            <ul>
                                <li>you made a purchase in the last 24 hours</li>
                                <li>you made a deposit within the last 24 hours</li>
                                <li>you don't have any outstanding credits/loans</li>
                                <li>minimum of $100 in combined deposits </li>
                            </ul>
                            <span style="font-weight: bold;font-size: 12px;">Disclaimer:<p>
                                    - Daily free dump is an expiring, randomly picked dump from the older databases.
                                    There's no guarantee It will work and not region locked in your area. Creating a
                                    ticket complaining about a free dump will void an ability to receive any future
                                    daily gifts in my shop.</p>
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="go_to_my_orders"
                            onclick="window.location.href = '/orders';" style="display: none;">Go to My Orders</button>
                        <button type="button" class="btn btn-primary" id="receive_gift" onclick="ReceiveGift();">Click
                            here to receive your gift.</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalLoan" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="width:800px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLoanTitle">Loan request</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger alert-danger-modal fade in" style="display:none;">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <p class="modalDanger"></p>
                        </div>
                        <div class="alert alert-success alert-success-modal fade in" style="display:none;">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <p class="modalSuccess"></p>
                        </div>
                        <div id="loan_data"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="/static/css/jquery.bootstrap-touchspin.css" rel="stylesheet">
    <link href="/static/css/slider.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/static/js/date.js"></script>
    <script src="/static/js/moment-with-locales.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/passgen.min.js"></script>
    <script src="/static/js/bootstrap-toggle.min.js"></script>
    <script src="/static/js/jquery.bootstrap-touchspin.js"></script>
    <script src="/static/js/bootstrap-slider.js"></script>

    <script src="/static/js/strength-meter.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrapValidator.min.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {

            var menuID = document.getElementById("menu-home");
            if (menuID)
                menuID.className = menuID.className + " active";


            /*String.prototype.capitalise = function() {
                return this.charAt(0).toUpperCase() + this.slice(1);
            };*/

            startTime();
            getLiveData();

            $('.open_cr').click(function () {
                $('#myModalCR').modal('show');
                $('#cr_data').html('data is loading, please wait ...');

                return false;
            });
            $('.open_in').click(function () {
                $('#AcoountInfo').modal('show');
                $('#cr_data').html('data is loading, please wait ...');

                return false;
            });

            $('.open_request_loan').click(function () {
                $('#myModalLoan').modal('show');
                $('#loan_data').html('data is loading, please wait ...');

                // $.get("get_loan/index.php", function (data) {
                //     if(data.status && data.status == 'success') {
                //         $('#loan_data').html(data.html);
                //     } else {
                //         showMessage('modal', 'danger', data.message);
                //     }
                // }, 'json').error(function () {
                //     showMessage('modal', 'danger', 'timeout error, please try again');
                // }).always(function() {
                //     //
                // });

                return false;
            });

        });

        if (window.parent.frames.length > 0) {
            // $.get("check_iframe/index.php", function (data) {
            //     //
            // }, 'json').error(function () {
            //     //
            // }).always(function() {
            //     //
            // });
        }

        var currentHour = 23;
        var timeoutArray = [];
        var userBalance = 0.000000;

        function getRatingDetails(action) {
            $('#myModalDetailsC').modal('show');
            $('#cr_details_data').html('data is loading, please wait ...');

            // $.post("get_crab_rating/index.php", {
            //     csrfmiddlewaretoken: 'TWXCtntphziA8JBWLFYVxSpjunWwUdQ1',
            //     action: action
            // }, function (data) {
            //     $('#cr_details_data').html(data);
            // }).error(function () {
            //     showMessage('modal', 'danger', 'timeout error, please try again');
            // }).always(function() {
            //     //
            // });

            return false;
        }

        function checkTime(i) {
            return (i < 10) ? "0" + i : i;
        }

        function startTime() {
            var today = new Date();
            today.setHours(currentHour);
            var h = today.getHours();
            var m = checkTime(today.getMinutes());
            var s = checkTime(today.getSeconds());
            if (m == 59 && s == 59)
                currentHour++;
            if (currentHour > 23)
                currentHour = 0;
            document.getElementById('current_time').innerHTML = h + ":" + m + ":" + s;
            setTimeout(function () {
                startTime()
            }, 1000);
        }


        function firstUpperCase(str) {
            return str.charAt(0).toUpperCase() + str.slice(1);
        }

        function showMessage(where, type, message, messageID, timeout) {
            var divClass = (where == 'page') ? 'alert-' + type + '-page' : 'alert-' + type + '-modal';
            messageID = (messageID == undefined) ? where + firstUpperCase(type) : messageID;

            if (timeout != false && (timeout == undefined || timeout < 1)) {
                timeout = 5000;
            }

            var elementMessage = (where == 'page') ? '#' : '.';

            if ($('.' + divClass).is(':visible')) {
                if (timeout != false && timeoutArray[type] != undefined) {
                    clearTimeout(timeoutArray[type]);
                    timeoutArray[type] = undefined;
                    delete timeoutArray[type];
                }
                $(elementMessage + messageID).append('<br>' + message);
            } else {
                $(elementMessage + messageID).html(message);
            }

            $('.' + divClass).show().focus();

            if (timeout != false)
                timeoutArray[type] = setTimeout(function () {
                    $('.' + divClass).hide('slow');
                }, timeout);

            return false;
        }

        function getLiveData() {
            // $.getJSON('get_live_data/index.php', function (data) {
            //     if(data.info)
            //         showMessage('page', 'info', data.info, undefined, false);
            //     if(data.count_cart_items > 0)
            //         $('#count_cart_items').html(data.count_cart_items);
            //     if(data.count_tickets > 0)
            //         if(data.waiting_tickets !== undefined)
            //             $('#count_tickets').html(data.waiting_tickets + '/' + data.count_tickets);
            //         else
            //             $('#count_tickets').html(data.count_tickets);
            //     //if(data.count_pendings > 0)
            //     if(data.count_payoffs > 0)
            //         $('#count_payoffs').html(data.count_payoffs);
            //     if(data.remain_amount)
            //         $('#remain_amount').html(data.remain_amount);
            //     if (data.bid_total>0) {
            //         $('#count_bids').html(data.bid_active + '/' + data.bid_total);
            //     }
            //     if(data.current_loan) {
            //         $('#current_loan').html(data.current_loan);
            //         $('#current_loan_block').css("display","initial");
            //     } else {
            //         $('#request_loan_block').css("display","initial");
            //     }
            // }).error(function () {
            //     //
            // }).always(function () {
            //     //
            // });
        }

        function ReceiveGift() {
            $('#receive_gift').prop('disabled', true);
            var post_array = {
                'action': 'receive_gift',
                'type': 'dumps',
                'ids': '0',
                'csrfmiddlewaretoken': 'TWXCtntphziA8JBWLFYVxSpjunWwUdQ1',
            };
            // $.post('cart/index.php', post_array, function (data) {
            //     if(data.status == 'success') {
            //         showMessage('modal', 'success', data.message);
            //         $('#go_to_my_orders').show();
            //     }
            //     if (data && data.status == 'fail') {
            //         showMessage('modal', 'danger', data.message);
            //     }
            // }, 'json').error(function () {
            //     showMessage('modal', 'danger', 'In order to receive a gift you have got to have minimum of $100 in combined deposits');
            // }).always(function () {
            //     $('#receive_gift').prop('disabled', false);
            // });
            return true;
        }

        function GetMyLoan() {
            $('#get_my_loan').prop('disabled', true);
            $loan_amount = $('.active [name="options"]').attr('loan')
            var post_array = {
                'action': 'get_my_loan',
                'loan_amount': $loan_amount,
                'csrfmiddlewaretoken': 'TWXCtntphziA8JBWLFYVxSpjunWwUdQ1',
            };
            // $.post(/get_loan/, post_array, function (data) {
            //     if(data.status == 'success') {
            //         showMessage('modal', 'success', data.message);
            //     }
            //     if (data && data.status == 'fail') {
            //         showMessage('modal', 'danger', data.message);
            //     }
            // }, 'json').error(function () {
            //     showMessage('modal', 'danger', 'In order to receive a gift you have got to have minimum of $100 in combined deposits');
            // }).always(function () {
            //     $('#get_my_loan').prop('disabled', false);
            // });
            return true;
        }
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var csrfToken = '{{ csrf_token }}';
        var cartItemCount = {{ request.session.cart_item_count|default:0 }};
    </script>
    <script src="{% static 'public/js/cart.js' %}"></script>

</body>

</html>
