<!DOCTYPE html>
<html>
  <head>
    <style>
      /* CSS styles */
    </style>
  </head>
  <body>
    {% for i in forloop.counter0|default_if_none:"012" %}
    <div class="container">
      <div class="screen">
        <div class="screen__content">
          <form class="login">
            <div class="login__field">
              <i class="login__icon fas fa-user"></i>
              <input type="text" class="login__input" placeholder="{{ random_content }}">
            </div>
            <div class="login__field">
              <i class="login__icon fas fa-lock"></i>
              <input type="password" class="login__input" placeholder="{{ random_content }}">
            </div>
            <button class="button login__submit">
              <span class="button__text">{{ random_content }}</span>
              <i class="button__icon fas fa-chevron-right"></i>
            </button>        
          </form>
          <div class="social-login">
            <h3>{{ random_content }}</h3>
            <div class="social-icons">
              <a href="#" class="social-login__icon fab fa-instagram">{{ random_content }}</a>
              <a href="#" class="social-login__icon fab fa-facebook">{{ random_content }}</a>
              <a href="#" class="social-login__icon fab fa-twitter">{{ random_content }}</a>
            </div>
          </div>
        </div>
        <div class="screen__background">
          <span class="screen__background__shape screen__background__shape4"></span>
          <span class="screen__background__shape screen__background__shape3"></span>      
          <span class="screen__background__shape screen__background__shape2"></span>
          <span class="screen__background__shape screen__background__shape1"></span>
        </div>      
      </div>
    </div>
    {% endfor %}
  </body>
</html>